PORT=3001

DATABASE_URL=postgresql://postgres:[SUA-SENHA]@db.[SEU-PROJETO].supabase.co:5432/postgres

JWT_SECRET=sua_chave_secreta_muito_longa_e_aleatoria
JWT_EXPIRES_IN=7d

FRONTEND_URL=https://seu-frontend.vercel.app